<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.accesscontrol"
  xmlns:tools="http://schemas.android.com/tools"
  >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application tools:replace="android:label"
      android:name=".MainApplication"
      android:label="${DISPLAY_NAME}"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true" 
      android:requestLegacyExternalStorage="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="${DISPLAY_NAME}"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan"
        android:screenOrientation="portrait"
      
      >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <action android:name="android.intent.action.ACTION_VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https"
                  android:host="propuskator.too-smart-tech.com"
                  android:pathPrefix="/app" />
            <data android:scheme="https"
                  android:host="cloud.propuskator.com"
                  android:pathPrefix="/app" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    
    </application>

</manifest>
